.app-Download{
    margin: auto auto;
    margin-top: 60px;
    font-size: max(6vw, 10px); 
    font-weight: 500;
    text-align: center;
}

.app-Download-platform {
    display: flex;
    justify-content: center;
    gap: max(2vw, 10px);
}
.app-Download-platform img{
    width: max(20vw, 120px);
    transition: 0.5;
    cursor: pointer;
}
.app-Download-platform img:hover{
    transform: scale(1.05);
}